<!-- userのexcercise一覧 -->
<div style="text-align: center; padding: 20px 40px; background-color: #eee">
	<%= render 'events/form', event: @event %>
</div>


<style>
	.row > div {
		border: 0.5px solid #dcdcdc;
	}
	.btn.edit {
		width: 100%;
		height: 40px;
		background-size: 200%;
		display: block;
		text-align: center;
		line-height: 200%;
		border-radius: 10px;
		margin: 1rem 0;
		font-size: 20px;
		outline: none;
		border: none;
		background-color: #9d9d9d;
		cursor: pointer;
		color: #fff;
		text-decoration: none;
	}

	.btn.edit i {
		font-size: 20px;
	}
</style>
<div class="container" style="padding: 20px 0">
	<div class="row row">
		<div class="col-xs-3">
			<h2 style="font-size: 20px; text-align: center;">User Info</h2>
			<div class="user-image"></div>
			<table class="table">
				<tbody>
					<tr>
						<th>Name</th>
						<th><%= @user.name %></th>
					</tr>
					<tr>
						<th>Intro</th>
						<th><%= @user.introduction %></th>
					</tr>
				</tbody>
			</table>
			<div class="user-image" style="text-align: center;">
				<%= attachment_image_tag @user,:profile_image, :fill, 100, 100, format: 'png, jpg', class: "image-circle pull-center profile-img", fallback:"sample1.jpg" %>
			</div>
		 <% if @user.id == current_user.id %>
			<div class="btn edit">
				<i class="fas fa-edit"></i>
				<%= link_to '', edit_user_path(@user) %>
			</div>
		　<% end %>
			<h2 style="font-size: 20px; text-align: center;">Schedule</h2>
			<div id="calendar" style="font-size: 10px; width: 100%; height: auto; text-align: left;"></div>
		</div>
		<!-- create action -->
		<div class="col-xs-9">
			<h2 style="font-size: 25px; text-align: center;">Today's Workout Menu</h2>
			<%= form_for(excercise, url:excercises_path) do |f| %>

				<% if excercise.errors.any? %>
					<p>error</p>
					<div id="error_explanation" class="alert_error">
						<ul>
							<% excercise.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>

				<div class="field" style="float: left">
					<p>
						<%= f.label :target %>
						<%= f.text_field :target %>
					</p>
				</div>

 				<div class="field" style="float: left">
					<p>
						<%= f.label :excercise_name %>
						<%= f.text_field :excercise_name %>
					</p>
				</div>

				<div class="field" style="float: left">
					<p>
						<%= f.label :reps %>
						<%= f.text_field :reps, :size=>"5" %>
					</p>
				</div>

				<div class="field" style="float: left">
					<p>
						<%= f.label :sets %>
						<%= f.text_field :sets, :size=>"5" %>
					</p>
				</div>

				<!-- render -->

				<!-- render -->

				<!-- <button class="btn btn-default visible-lg-block" style="border-radius: 5px;"> -->
				<p style="text-align: center; color: white;">
					<%= f.submit "New Menu", style:"border-radius: 5px; background-color: black;" %>
				</p>
				<!-- </button> -->
			<% end %>