<h1>Books</h1>
<table>
	<tr>
		<th class="title">Title</th>
		<th class="body">Body</th>
		<th colspan="2"></th>
	</tr>

	<% @lists.each do |list| %>
		<tr>
			<td class="title"><%= list.title %></td>
			<td class="body"><%= list.body %></td>
			<td><a><%= link_to 'Show', booklist_path(list) %></a></td>
			<td><a><%= link_to 'Edit', edit_booklist_path(list) %></a></td>
			<td><a><%= link_to 'Destroy', booklist_path(list), method: :delete, data: {confirm: 'Are you sure?' } %></a></td>
		</tr>
	<% end %>

</table>

<h2>New book</h2>
<%=form_for(@list, url: '/booklists')do |f| %>

<% if @list.errors.any? %>
  <div id="error_explanation" class="alert_error">
    <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

	<div class="field">
		<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
		</p>
	</div>

	<div class="field">
		<p>
		<%= f.label :body %>
		<%= f.text_area :body %>
		</p>
	</div>

	<p>
	<%= f.submit 'Create Book' %>
	</p>

<% end %>