<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<h2>User Info</h2>
			<div class="user-image">
				<%= image_tag('sample1.jpg', class:"img-square pull-left profile-img", style: "width: 100px; height: 100px; margin-top: 20px;") %>
			</div>
			<p class="profile-name">username: <%= @user.username %></p>
			<p class="profile-introduction">introduction</p>
			<% if @user.id == current_user.id %>
				<p><%= link_to "Profile Edit", edit_user_path(@user), class: "pull-right" %></p>
			<% end %>


			<h2>New Book</h2>
			<%= form_for(book, url:books_path) do |f| %>

				<% if book.errors.any? %>
				  <div id="error_explanation" class="alert_error">
				    <ul>
			      <% book.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
				    </ul>
				  </div>
				<% end %>

					<div class="field">
						<p>
							<%= f.label :title %>
							<%= f.text_field :title %>
						</p>
					</div>

					<div class="field">
						<p>
							<%= f.label :body %>
							<%= f.text_area :body %>
						</p>
					</div>

					<p>
					<%= f.submit "Create Book" %>
					</p>
			<% end %>
		</div>
	</div>
</div>