<!-- Page of /books 全userの投稿一覧　-->
<!-- done it -->

<%= render 'users/list', book: @book_new %>

		<div class="col-lg-9">
			<h2>Books</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>title</th>
						<th>opinion</th>
					</tr>
				</thead>
				<% @books.each do |book| %>
				<tbody>
					<tr style="background-color: #fff;">
						<th class="block-image">
							<%= link_to user_path(@user.id) do %>
							<%= image_tag('sample1.jpg', class:"img-square pull-left profile-img", style: "width: 40px; height: 40px;") %>
							<% end %>
						</th>
						<th class="title">
							<%= link_to book_path(book.id) do %>
							<%= book.title %>
							<% end %>
						</th>
						<th class="body">
							<%= book.body %>
						</th>
					</tr>
				</tbody>
				<% end %>
			</table>
		</div>
	</div>
</div>
