<!-- Page of /book/:id -->

<%= render 'users/list', book: @book_new %>

<div class="row">
<div class="col-lg-9">
	<h2>Book detail</h2>
	<table class="table table-striped">
		<tbody>
			<tr>
				<td>image</td>
				<!-- imageの下にusername -->
				<td class="title">
					<%= @book.title %>
				</td>
				<td class="body">
					<%= @book.body %>
				</td>
				<td>
					<% if @book.user == current_user %>
						<%= link_to "Edit", edit_book_path %>
					<% end %>
				</td>
				<td>
					<% if @book.user == current_user %>
						<%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: 'Are you sure?' } %>
					<% end %>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>