<!DOCTYPE html>
<html>
  <head>
    <title>Workout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial=scale=1">
    <script src="https://kit.fontawesome.com/a55a36e434.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Spartan:500&display=swap" rel="stylesheet">
    <style>
      footer ul li {
        list-style: none;
      }
    </style>
  </head>
  <body>
    <div id="header" class="header">
        <span class="title">
          <p>Management</p>
        </span>
        <div class="nav">
          <ul class="nav list-inline">
            <% if user_signed_in? %>
              <li class="#">
                <%= link_to "Home", user_path(current_user.id), class: "glyphicon glyphicon-home", style:"color: white;" %>
              </li>
              <li class="#">
                <%= link_to "Users Workout Diary", excercises_path, class: "glyphicon glyphicon-tasks", style:"color: white;" %>
              </li>
              <li class="#">
                <%= link_to "Schedule", events_path, class: "glyphicon glyphicon-calendar", style:"color: white;" %>
              </li>
              <li class="#">
                <%= link_to "Log Out", destroy_user_session_path, method: "delete", class: "glyphicon glyphicon-log-out", style:"color: white;" %>
              </li>
            <% else %>
              <li class="#">
                <%= link_to "Home", root_path, class: "glyphicon glyphicon-home", style:"color: white;" %>
              </li>
              <li>
                <%= link_to "About Workout", home_about_path, class: "glyphicon glyphicon-fire", style:"color: white;" %>
              </li>
              <li class="#">
                <%= link_to "Sign In", new_user_registration_path, class: "glyphicon glyphicon-new-window", style:"color: white;" %>
              </li>
              <li class="#">
                <%= link_to "Log In", new_user_session_path, class: "glyphicon glyphicon-log-in", style:"color: white;" %>
              </li>
            <% end %>
          </ul>
        </div>
    </div>
    <%= yield %>

  <!-- 一時的に消す -->

      <footer>
      <div class="footer">
        <div class="grid_item one-third medium-one-half small-one-whole footer-menu-wrapper">
          <div class="footer-menu">
            <div class="footer-menu-item">
              <p class="footer-menu-title">About</p>
              <ul class="footer-menu-links">
                <li>copy</li>
                <li>copy</li>
                <li>copy</li>
                <li>copy</li>
                <li>copy</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p>CopyRight Management</p>
        </div>
      </div>
    </footer>
  </body>
</html>
