<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header" id=header style="background-color: black; color: white;">
    <p>Bookers</p>
      <ul>
        <% if user_signed_in? %>
          <li class="#">
            <%= link_to "Home", user_path(current_user.id) %>
          </li>
          <li class="#">
            Users
          </li>
          <li class="#">
            Books
          </li>
          <li class="#">
            <%= link_to "Logout", destroy_user_session_path, method: "delete" %>
          </li>
        <% else %>
          <li class="#">
            <%= link_to "Home", root_path %>
          </li>
          <li class="#">
            About
          </li>
          <li class="#">
            <%= link_to "Signup", new_user_registration_path %>
          </li>
          <li class="#">
            <%= link_to "Log in", new_user_session_path %>
          </li>
        <% end %>
      </ul>
      
    </div>
    <%= yield %>

    <footer>
      <p>CopyRight Infratop.inc</p>
    </footer>

  </body>
</html>
